{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint"],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    // for some reason, the below extra rules make no-unused-vars not work in vscode. Unsure if other things are breaking too.
    // "plugin:@typescript-eslint/recommended-requiring-type-checking",
    // "plugin:@typescript-eslint/strict",
    "prettier"
  ],

  "rules": {},

  "env": {
    "browser": true,
    "es2021": true
  }
}
